body {
    font-family: arial, helvetica;
  }
  
  h3 {
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-weight: 700;
  }
  
  #section1 {
    color: #fff;
  }
  
  .fp-section {
    text-align: center;
  }
  
  button {
    padding: 0.93em 1.87em;
    background: #35495e;
    border-radius: 5px;
    border-color: transparent;
    display: block;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    font-size: 0.85em;
  }

  .top-fixed {
    position: fixed;
    width: 100%;
    text-align: right;
    z-index: 10;
  }


  /**************** hyejune css *************************/

  @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
  *{ margin: 0; padding: 0; font-size: 24px; color: #282f39; font-family: 'Noto Sans KR', sans-serif; }
  /********************** header ***********************/


  .navbar{ display: block; width: 100%; float: left; position: relative;}
  .navbar-nav{ display: block;} 

  /* main_menu */
  .navbar .navbar-toggler { display: block; width: 20%; float: left; margin: 0; padding: 0; border: none; text-align: left; }
  .navbar .navbar-toggler-icon{ width: 35px; height: 35px; background-image: url("../src/menuBtn_icon.png"); z-index: 5000; }

  .navbar .navbar-collapse{ position: absolute; z-index: 10; top: 0; left: 0; background-color: #fff; width: 32%; height: 800px; padding-top: 70px; padding-left: 35px; box-sizing: border-box; }
  .navbar .navbar-collapse *{ margin: 0; padding: 0; font-size: 14px; color: #f0853f; }

  /* menu_slideout */
  .menuBarItem{ width: 100px; height: 30px; text-align: left;}
  .menuBar_list{ width: 100px; height: 30px;}

  /* main_logo */
  .navbar .navbar-brand{ display: block; width: 40%; height: 35px; text-align: center; padding: 0; margin: 0; float: left; }
  .navbar .navbar-brand *{ margin: 0; }
  .navbar .navbar-brand a{ display: block; width: 65px; height: 35px; margin: 0 auto; text-align: center; }
  .navbar .main_logo{ width: 120px; height: 35px; text-align: center;}



  /* .navbar .main_menu{ display: block; width: 35px; height: 35px; text-align: left; }
  .navbar .Menu{ width: 40%; float: left; text-align: left; } */

  /* myPage */
  .navbar .main_mypage{ display: block; width: 35px; height: 35px; float: right; }
  .navbar .MyPage{ width: 20%; float: right; }



  /********************** section **********************/

  .section1, .section2, .section3{ background-color: #fff; }


  .App { width: 100%; height: 100%; }
  .Latte{ width: 100%; height: 100%; }
  /* .Latte > div{ width: 100%; height: 100%; } */
  /* index page */
  .main_indexPage{ width: 100%; height: 100%; background-color: #f0853f; margin: 0 auto; background-image: url(./background_02.png); background-size: 120%; background-position: center; background-repeat: no-repeat;}