body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}

button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
}

.top-fixed {
  position: fixed;
  width: 100%;
  text-align: right;
  z-index: 10;
}


/**************** hyejune css *************************/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
*{ margin: 0; padding: 0; font-size: 12px; color: #282f39; font-family: 'Noto Sans KR', sans-serif; }
/********************** header ***********************/


.navbar{ display: block; width: 100%; float: left; position: top; z-index: 1; background-color: #f0853f;}
.navbar-nav{ display: block; padding-bottom: 0;} 

/* main_menu */
.navbar .navbar-toggler { display: block; width: 20%; float: left; margin: 0; padding: 0; border: none; text-align: left; z-index: 500; }
.navbar .navbar-toggler-icon{ width: 35px; height: 35px; background-image: url("../src/menuBtn_icon.png"); z-index: 5000;}
.navbar .navbar-toggler-icon.on{ background-image: url("../src/menuBtn_icon_after.png"); z-index: 5000; }

.navbar .navbar-collapse{ position: absolute; top: 0; left: 0; background-color: #fff; width: 32%; height: 900px; padding-top: 70px; padding-left: 35px; box-sizing: border-box; z-index: 20 !important; }

.navbar .navbar-collapse *{ margin: 0; padding: 0; font-size: 14px; color: #f0853f; }

/* menu_slideout */
.menuBarItem{ width: 100px; height: 30px; text-align: left;}
.menuBar_list{ width: 100px; height: 30px;}

/* main_logo */
.navbar .navbar-brand{ display: block; width: 60%; height: 40px; text-align: center; padding: 0; margin: 0; float: left; }
.navbar .navbar-brand *{ margin: 0; }
.navbar .navbar-brand a{ display: block; width: 100%; height: 35px; margin: 0 auto; text-align: center; }
.navbar .main_logo{ width: 120px; height: 35px; text-align: center;}



/* .navbar .main_menu{ display: block; width: 35px; height: 35px; text-align: left; }
.navbar .Menu{ width: 40%; float: left; text-align: left; } */

/* myPage */
.navbar{ margin-bottom: 30px; }
.navbar .main_mypage{ display: block; width: 35px; height: 35px; float: right; }
.navbar .MyPage{ width: 20%; float: right; }
.mypagelevels{ width: 100%; }
.mypageicons { width: 33%; }
.mypagelevel{ width: 70%; padding-bottom: 5%;}
/********************** section **********************/

/* .section1, .section2, .section3{ background-color: #fff; } */


.App { width: 100%; height: 100%; background-color: #f0853f; }
.Latte{ width: 100%; height: 100%; background-color: #fff; }
/* .ant-row { background-color: #f0853f; } */
/* .Latte > div{ width: 100%; height: 100%; } */
/* index page */
.main_indexPage{ width: 100%; height: 100%; background-color: #f0853f; margin: 0 auto; background-image: url(./background_02.png); background-size: 120%; background-position: center; background-repeat: no-repeat;}


/*  */
.ant-input{ border: 0.5px solid #f0853f; border-radius: 0; }
/* .ant-card{ height: 150px !important; } */
.ant-list-item-meta-content{ height: 36px; }
.ant-list-item-meta-title{ font-size: 14px !important; height: 36px; margin-bottom: 0 !important; }
.ant-card-body{ padding: 10px;}

.ant-pagination{ text-align: center; }
/* .ant-input-suffix{ width: 24px; height: 24px; background-image: url(./menuBtn_icon_after.png); background-size: contain;} */



/* *****************************************************Login************************************************************* */
.mainBtn{ border: none; border-radius: 0; background-color: #f0853f; }
.mainBtn *{ color: #fff; font-size: 14px; }

.subBtn{ border: none; border-radius: 0; background-color: #777;}
.subBtn *{ color: #fff; font-size: 14px; }




.signupForm *{ text-align: center !important; }

/* 모달 */
.ant-modal-footer .ant-btn { background-color: #777; }
.ant-modal-footer .ant-btn-primary { background-color: #f0853f; }